name: ARC Test
on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: homelab-runner
    container:
      image: alpine:latest
    steps:
      - name: Install dependencies
        run: apk add --no-cache nix git tar

      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Build zola
        run: |
          mkdir -p ~/.config/nix
          echo "experimental-features = nix-command flakes" >> ~/.config/nix/nix.conf
          nix run path:.

      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs/public/

      - name: Deploy
        uses: actions/deploy-pages@v4
